<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.application.funnyroad">

    <permission
        android:name="in.wptrafficanalyzer.locationnearby.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="in.wptrafficanalyzer.locationnearby.permission.MAPS_RECEIVE"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <application
        android:name=".newroadtrip.Variable"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <meta-data
             android:name="com.google.android.geo.API_KEY"

             android:value="AIzaSyC4U7mZR5d7Sf2lp4bhq8aCd_d8h_e6A20" />


        <activity android:name=".login.view.ActivityLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".home.view.ActivityHome2"></activity>

        <activity android:name="com.project.application.funnyroad.register.view.ActivityRegister">
        </activity>



        <activity android:name="com.project.application.funnyroad.newroadtrip.view.ActivityNewMRoadTrip">
        </activity>

        <!--======= <activity android:name="com.project.application.funnyroad.googlemap.view.view.ActivityNewRoadTripRouteChoice">
 -->

        <activity android:name="com.project.application.funnyroad.googlemap.view.view.ActivityNewRoadTripRouteChoice">
        </activity>

        <activity android:name="com.project.application.funnyroad.newroadtrip.view.ActivityCreateNewRoadTrip">
        </activity>

        <!-- <activity android:name="com.project.application.funnyroad.googlemap.view.googleMapActivity">
         </activity>   -->

        <activity android:name=".addplace.view.AddPlaceActivity"
            android:parentActivityName=".detailroadtripnew.view.DetailRoadTripActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".detailroadtripnew.view.DetailRoadTripActivity" />

        </activity>
        <activity android:name=".detailroadtripnew.view.DetailRoadTripActivity"
            android:parentActivityName=".home.view.ActivityHome2">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home.view.ActivityHome2" />

        </activity>

        <activity android:name=".detailEndroit.view.DetailsEndroitActivity"
            android:parentActivityName=".detailroadtripnew.view.DetailRoadTripActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".detailroadtripnew.view.DetailRoadTripActivity" />

        </activity>
    </application>
</manifest>